.container {
  width: 300px;
}

.state-list {
  list-style: none;
  margin: 0;
  padding: 2px 5px;
  height: 200px;
  border: solid 1px #333;
  overflow: auto;
}

.state-list li {
  height: 30px;
  padding: 3px 0px;
}

.state-list li span {
  line-height: 30px;
}

.state-list li button {
  float: right;
}

.add-state {
  padding: 10px 0px;
}

.add-state > * {
  height: 26px;
}

.add-state input {
  width: 255px;
}

.add-state button {
  margin-left: 10px;
}

.buttons button {
  margin-right: 10px;
}
