{
  "presets": [
    "es2015",
    "es2016",
    "react",
    "flow"
  ],
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
