.button {
  cursor: pointer;
  font-size: 1em;
  padding: 3px 10px;
  border: solid 1px #333;
  color: #333;
  background-color: #fcfcfc;
  transition: background-color 0.1s;
}

.button:hover {
  background-color: #f3f3f3;
}

.button:focus {
  outline: 0;
}

.button.primary {
  color: #fcfcfc;
  background-color: #333;
}
