.header {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #333;
}

.title {
  margin: 0;
  color: #fcfcfc;
  padding-left: 10px;
}

.menu-button {
  padding: 0;
  margin-left: auto;
  margin-right: 10px;
  font-size: 1.6em;
  color: #fcfcfc;
  border: none;
  background-color: transparent;
}

.menu-button:hover {
  background-color: transparent;
}

.menu {
  border: solid 1px #cbcbcb;
  background-color: white;
  box-shadow: 4px 4px 6px -3px #666;
  position: absolute;
  right: 10px;
  top: 40px;
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
.menu-item a {
  color: #333;
  text-decoration: none;
  padding: 0px 20px;
}*/

.menu li {
  user-select: none;
  cursor: pointer;
  text-align: left;
  background-color: #fff;
  white-space: nowrap;
}

.menu,
.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

.menu a:hover {
  background-color: #e5f3fb;
}

.menu li .sub-menu {
  display: block;
  max-height: 200px;
}

.sub-menu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.sub-menu a {
  padding-left: 25px;
}
