$border-color: #333;

.tables-container {
  display: flex;

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $border-color;

    th {
      text-align: left;
    }

    th,
    td {
      height: 32px;
      max-width: 250px;
      padding: 5px;
      border: 1px solid $border-color;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.buttons-container {
  margin-top: 10px;

  button {
    margin-right: 10px;
  }
}
