.scroll {
  flex: 1;
  display: flex;
  background: #ccc;
  overflow: auto;
}

.container {
  flex-shrink: 0;
  margin: auto;
}

.canvas {
  border: solid 1px #333;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 20px #333;
  margin: 10px;
}
