.container {
  width: calc(100vw - 200px);
}

.cpt-container {
  margin: 10px 0px;
  max-height: calc(100vh - 200px);
  overflow: auto;
}

.cpt {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  border-bottom: solid 1px #333;
  border-right: solid 1px #333;
}

.cpt th {
  text-align: left;
}

.cpt th,
.cpt td {
  border-top: solid 1px #333;
  border-left: solid 1px #333;
  padding: 5px;
}

.cpt td input {
  width: 100%;
  border: none;
  outline: none;
  min-width: 50px;
}

.buttons button {
  margin-right: 10px;
}
